#pageDescription{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    border: 1px solid black;
    margin: 10px;
    margin-top: 10px;
    padding: 5px;
    width: 50%;
    float: left;
    border-radius: 10px;
    box-shadow: 1px 1px black;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

#pageDescription:hover {
    background-color: #f0f0f0; /* Cambio de fondo al pasar el cursor */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Sombra más grande y suave */
}

#pageDescription > p{
    margin: 40px;
}

body{
    background-image: url(img/background.jpg);
}

#promoImages{
    float: left;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    margin-top: 10px;
    padding: 5px;
    margin-left: 490px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

#promoImages:hover {
    background-color: #f0f0f0; /* Cambio de fondo al pasar el cursor */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Sombra más grande y suave */
}

#promoImages > img{
    width: 400px;
    margin: auto;
    height: 242px;
    display: block;
}

/* Estilos para la lista principal */
ul {
    list-style-type: square; /* Estilo de viñeta cuadrada */
    margin: 20px 0;
    padding-left: 20px;
    font-size: 16px;
}

/* Estilos para las sublistas */
ul ul {
    list-style-type: circle; /* Viñeta circular para las sublistas */
    padding-left: 20px; /* Aumentar sangría de las sublistas */
}

/* Estilo de los elementos dentro de la lista */
li {
    margin-bottom: 10px; /* Espacio entre cada elemento */
}
